*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --gray
}

body{}

body, textarea, input, select, button{
    font: 400 1rem 'Roboto', sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}